ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
#navigation a{
    display: block;
}

img{
    display: block;
    margin: 10px auto;
}
div.box {
    text-align: center;
}

input{
        width: 600px;
        height: 40px;
}